# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

services:
    _defaults:
        autowire: true
        autoconfigure: true
    Twitter\:
        resource: '../src/'
    Twitter\IAM\Infrastructure\Persistence\Auth\RefreshTokenHasher:
        arguments:
            $secret: '%kernel.secret%'
    Twitter\IAM\Application\Logout\RefreshTokenStoreInterface: '@Twitter\IAM\Infrastructure\Persistence\MySQL\Logout\DbalRefreshTokenStore'
