# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

services:
    _defaults:
        autowire: true
        autoconfigure: true
    
    Twitter\IAM\UI\REST\Controller\:
        resource: '../src/IAM/UI/REST/Controller/*Controller.php'
        tags: [ 'controller.service_arguments' ]
    
    Twitter\Shared\Infrastructure\EventSubscriber\ExceptionSubscriber:
        tags: [ 'kernel.event_subscriber' ]
        arguments:
            $environment: '%kernel.environment%'
    
    Twitter\IAM\Application\CreateUser\CreateUserCommandHandler:
        arguments:
            $userRepository: '@Twitter\IAM\Domain\User\Model\UserRepository'
    
    Twitter\IAM\Domain\User\Model\UserRepository:
        class: Twitter\IAM\Infrastructure\Persistence\MySQL\Repository\MySQLUserRepository

    Twitter\Profile\UI\REST\Controller\:
        resource: '../src/Profile/UI/REST/Controller/*/*Controller.php'
        tags: [ 'controller.service_arguments' ]
        
    Twitter\Profile\Application\UseCase\CreateProfile\CreateProfileCommandHandler:
        arguments:
            $profileRepository: '@Twitter\Profile\Domain\Profile\Model\ProfileRepository'

    Twitter\Profile\Domain\Profile\Model\ProfileRepository:
        class: Twitter\Profile\Infrastructure\Persistence\MySQL\Repository\MySQLProfileRepository
