services:
    _defaults:
        autowire: true
        autoconfigure: true
    Twitter\:
        resource: '../src/'
    Twitter\IAM\Infrastructure\Auth\RefreshTokenHasher:
        arguments:
            $secret: '%kernel.secret%'
    Twitter\IAM\Application\Logout\RefreshTokenRepository: '@Twitter\IAM\Infrastructure\Persistence\MySQL\Logout\MySQLRefreshToken'
