name: Lint

on:
  push:
  pull_request:

jobs:
  lint:
    strategy:
      matrix:
        os: [ 'ubuntu-22.04' ]
        php-version: [ '8.4' ]
    runs-on: ${{ matrix.os }}
    container:
      image: php:${{ matrix.php-version }}-cli
    steps:
      - uses: ./.github/workflows/php.yml
        with:
          os: ${{ matrix.os }}
          php-version: ${{ matrix.php-version }}
      - name: Run PHPStan
        run: ./vendor/bin/phpstan analyse
      - name: Run PHP-CS-Fixer
        run: ./vendor/bin/php-cs-fixer check
