name: PHP-CS-Fixer

on:
    pull_request:
    push:
        branches: [ main, develop ]

jobs:
    cs-fixer:
        runs-on: ubuntu-latest

        container:
            image: php:8.4-cli

        steps:
            - uses: actions/checkout@v4
            - name: Install Composer
              run: |
                  php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
                  php composer-setup.php --install-dir=/usr/local/bin --filename=composer
                  rm composer-setup.php

            - name: Install dependencies
              run: composer install --no-interaction --prefer-dist

            - name: Run PHP-CS-Fixer (check)
              run: composer cs:check

